{% extends 'html/base.html' %}

{% block body %}
    {% if tenancys|length > 0 %}
        <ul>
        {% for t in tenancys %}
            <li><a href="{{ t.get_active_url }}">{{ t.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'tenant_create' %}">Create Teancy</a>
        <a href="{% url 'patient_create' %}">Create Patient</a>
        <a href="{% url 'scheduled_service_create' %}">Create Scheduled</a>
        <a href="{% url 'scheduled_service_list' %}">Schedules</a>
    {% endif %}
{% endblock %}